flask~=2.0.2
flask-admin
flask-sqlalchemy
flask-marshmallow
flask-security
flask-login
flask-script
flask-mail
flask-wtf
flask-assets
flask-migrate
flask_cors
flask-debugtoolbar
flask-apispec
flask-rebar
flask-jwt-extended
jinja2
wtforms
sqlalchemy~=1.4.27
marshmallow-sqlalchemy

oauth2~=1.9.0.post1
simplejson
lxml
pygments
httplib2
tqdm~=4.62.3
pydot
six~=1.16.0
bcrypt
python-slugify
natsort~=8.0.0
psycopg2-binary
pylti1p3
Werkzeug~=2.0.2
email_validator
click~=8.0.3
pytest
celery~=5.2.1
apispec[yaml]~=5.1.1
apispec-webframeworks
marshmallow~=3.14.1